# Строим прогноз своих трат на месяц вперёд

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

In [ ]:
df = pd.read_csv('buh.csv', sep=',')

In [ ]:
df.head()

     Категория        3        4        5        6
0  Супермаркет  42900.0  44700.0  29050.0  26145.0
1  Еда не дома  13400.0  17400.0  10350.0   9315.0
2         Кофе   5600.0   5200.0   5300.0   4770.0
3    Транспорт   2000.0   3000.0   3300.0   2970.0
4       Одежда   3800.0  20500.0   3200.0   2880.0

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Категория  8 non-null      object
 1   3          8 non-null      float64
 2   4          8 non-null      float64
 3   5          8 non-null      float64
 4   6          8 non-null      float64
dtypes: float64(4), object(1)
memory usage: 448.0+ bytes

In [ ]:
df.describe()

                  3             4             5             6
count      8.000000      8.000000      8.000000      8.000000
mean    9875.000000  14062.500000   8906.250000   8015.625000
std    13937.257365  14656.635504   9853.477903   8868.130113
min     1600.000000   1200.000000    450.000000    405.000000
25%     1912.500000   2900.000000   2900.000000   2610.000000
50%     4700.000000  11300.000000   4300.000000   3870.000000
75%     9387.500000  18550.000000  12162.500000  10946.250000
max    42900.000000  44700.000000  29050.000000  26145.000000

In [ ]:
# Заменяем категорию на набор отдельных колонок
df = pd.get_dummies(df, columns=['Категория'])
df.head()

,3,4,5,6,Категория_Еда не дома,Категория_ЖКХ,Категория_Кофе,Категория_Мобильная связь,Категория_Одежда,Категория_Переводы,Категория_Супермаркет,Категория_Транспорт
0,42900.0,44700.0,29050.0,26145.0,0,0,0,0,0,0,1,0
1,13400.0,17400.0,10350.0,9315.0,1,0,0,0,0,0,0,0
2,5600.0,5200.0,5300.0,4770.0,0,0,1,0,0,0,0,0
3,2000.0,3000.0,3300.0,2970.0,0,0,0,0,0,0,0,1
4,3800.0,20500.0,3200.0,2880.0,0,0,0,0,1,0,0,0

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную
df.columns

Index(['3', '4', '5', '6', 'Категория_Еда не дома', 'Категория_ЖКХ',
       'Категория_Кофе', 'Категория_Мобильная связь', 'Категория_Одежда',
       'Категория_Переводы', 'Категория_Супермаркет', 'Категория_Транспорт'],
      dtype='object')

In [ ]:
X = df[['3', '4', '5', 'Категория_Еда не дома', 'Категория_ЖКХ',
       'Категория_Кофе', 'Категория_Мобильная связь', 'Категория_Одежда',
       'Категория_Переводы', 'Категория_Супермаркет', 'Категория_Транспорт']]
y = df['6']

In [ ]:
X

,3,4,5,Категория_Еда не дома,Категория_ЖКХ,Категория_Кофе,Категория_Мобильная связь,Категория_Одежда,Категория_Переводы,Категория_Супермаркет,Категория_Транспорт
0,42900.0,44700.0,29050.0,0,0,0,0,0,0,1,0
1,13400.0,17400.0,10350.0,1,0,0,0,0,0,0,0
2,5600.0,5200.0,5300.0,0,0,1,0,0,0,0,0
3,2000.0,3000.0,3300.0,0,0,0,0,0,0,0,1
4,3800.0,20500.0,3200.0,0,0,0,0,1,0,0,0
5,1600.0,2600.0,450.0,0,1,0,0,0,0,0,0
6,1650.0,1200.0,2000.0,0,0,0,1,0,0,0,0
7,8050.0,17900.0,17600.0,0,0,0,0,0,1,0,0

In [ ]:
y

0    26145.0
1     9315.0
2     4770.0
3     2970.0
4     2880.0
5      405.0
6     1800.0
7    15840.0
Name: 6, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создаем и обучаем модель

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([-3.36847543e-08,  7.64739333e-08,  8.99999928e-01, -2.19398869e-04,
        0.00000000e+00,  8.50930133e-05,  1.89296539e-05,  0.00000000e+00,
        8.72359670e-05,  4.09207825e-05, -1.27805476e-05])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получаем предсказание
lr.predict(X_test)

array([ 405.00020208, 2880.00129768])

In [ ]:
## Оцениваем на глаз
pd.DataFrame([y_test.values, lr.predict(X_test)]).T

        0            1
0   405.0   405.000202
1  2880.0  2880.001298

In [ ]:
# Оцениваем качество, при помощи метода mean_squared_error для тестовой выборки
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

8.624100726150277e-07

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

9.547042903216194e-24

## Делаем предсказание для категории супермаркет

In [ ]:
# Заполняем данные по категории супермаркет
data = [{
    "3": 55000,
    "4": 45000,
    "5": 40000,
    "Категория_Еда не дома": 10000,
    "Категория_ЖКХ": 3500,
    "Категория_Кофе": 1500,
    "Категория_Мобильная связь": 1500,
    "Категория_Одежда": 10000,
    "Категория_Переводы": 15000,
    "Категория_Супермаркет": 30000,
    "Категория_Транспорт": 1000
}]

In [ ]:
df_super = pd.DataFrame(data)
df_super.head()

,3,4,5,Категория_Еда не дома,Категория_ЖКХ,Категория_Кофе,Категория_Мобильная связь,Категория_Одежда,Категория_Переводы,Категория_Супермаркет,Категория_Транспорт
0,55000,45000,40000,10000,3500,1500,1500,10000,15000,30000,1000

In [ ]:
lr.predict(df_super)

array([36000.48420912])