# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df
df = pd.read_csv('insurance.csv', sep=',')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X = df[['age', 'sex', 'bmi', 'children', 'smoker',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest']]
y = df['charges']

In [ ]:
X

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,0,1
1,18,1,33.770,1,0,0,0,1,0
2,28,1,33.000,3,0,0,0,1,0
3,33,1,22.705,0,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,1,0,0
1334,18,0,31.920,0,0,1,0,0,0
1335,18,0,36.850,0,0,0,0,1,0
1336,21,0,25.800,0,0,0,0,0,1
1337,61,0,29.070,0,1,0,1,0,0

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([  252.36034756,  -336.55175924,   349.56035599,   592.0672743 ,
       23913.14842396,   760.67365261,   264.3414318 ,  -631.35853274,
        -393.65655167])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание
lr.predict(X_test)

array([ 5778.80740619, 10379.06727499,  1490.45781602,  3579.6841016 ,
       25590.58550487,  3458.58769752, 17312.12920914, 16851.23784339,
        8888.99538857, 27716.78750236,  6494.20607162, 14746.01043233,
       15016.90960969,  2382.13365004,  1497.56017048, 17768.21538972,
       13977.77497129,  9164.931129  , 12233.50531067, 10493.52399673,
       30830.33352374,  9024.49144002, 27034.33032727, 33950.03447419,
       11311.18820496, 18129.64046659, 13997.9411971 , 33220.07573931,
       37113.71734708, 27133.16609126,  5025.94142914, 35388.69765887,
       10822.34002009,  9595.32866334, 12265.5020311 , 30798.44795064,
       33666.36911912, 10970.60624513, 34624.21195651, 12564.60146844,
        5859.54274325,  6143.09299881, 13049.99922582, 35117.99030537,
       16822.1415271 ,  8605.0859081 , 15231.67396812, 32338.00956859,
       31749.21467918, 10400.82987392,  6830.1719626 , 33967.56308716,
        8428.13352952,  8575.18118094,  2743.10336297,  3710.37598318,
       15639.0949565 , 10797.93044845, 30423.96984322, 28640.24619442,
       15480.62479273, 13081.82258049, 12063.32279365, 14682.08154962,
       12556.97687988, 35473.95899091, 12608.62990375,  3831.79273909,
        4272.94586165, 28247.9381691 ,  3009.72670722, 14635.67894014,
        5668.14022357, 23495.02475395,  9614.36258276,  8461.91546638,
        2113.21554145,  9435.32195134, 12695.95937535,  2885.32276799,
        4529.75080136,  8419.02784255,  3540.10097462,  5437.43972336,
        7473.69944769, 12837.71921274,  6246.75667759,  6231.13755771,
       33737.24722031,  4250.50824947, 40194.71403442, 13236.12721839,
       15551.17024537, 26853.37342307,  8996.34876567, 36702.3606459 ,
       12554.75410925,  1726.01703703, 33594.65867609,  8651.74899426,
       11764.11526228,  5364.31492055, 29913.50151514,  5530.46723698,
        7005.27152831,  8846.25217422,  8567.57770692, 15184.19950911,
       14619.84458584, 14438.03671104, 28963.21958095, 10864.21258003,
        5485.85895227,  6691.43579822,  9475.46780905,  6015.17407394,
       34172.85090293, 38817.35314216, 10343.01181234, 14456.92912873,
       10753.1403657 , 29075.89805522,  3573.10568762,  5679.69093573,
       11896.36303144,  8844.18498473,  4247.21081286,  2955.79353786,
       13793.41726707, 17517.86633381, 35202.15852834,  9438.68321885,
        -167.81205385,  8147.16352301, 13194.3082156 , 16137.37879055,
        4401.57518035, 12940.81100124,  5618.3219699 ,  7254.6289997 ,
        6323.80053364,  6753.15049171,  3283.82157382,  5692.54883109,
       33425.97989416, 11322.23446668, 16023.61134809,  2423.00388706,
       14232.08600713,  8943.10965741, 27017.40101102,  9884.37269881,
       35505.30827561,  3254.42124591,  7206.20578991, 37153.87937338,
        8329.30786407, 11379.54832671,  3665.40012152, 14702.7863282 ,
        9443.77902729,   316.77452742, 10689.27473172,  7452.69637082,
        9837.80445988,  5481.93989902, 35318.45821572,  2316.31337202,
        4179.66191841, 15141.89566173,   500.1926404 ,  4168.81850307,
       10426.53078777, 40036.05809174,  4452.59579797, 11767.72900722,
       12342.18303986,  8302.41088175,  4138.77153193, 29037.32827467,
       19180.89763112, 12765.79148717, 11555.17788795, 39983.85426606,
        6411.25823409,  9293.65291413,  4313.97078093,  9229.75917155,
       15107.04375334, 39245.26458762, 16407.0042361 , 30106.07139004,
       15231.41052944, 15347.08951407,  -211.51319352,  5859.58230088,
       12759.64886984, 40869.14021363, 28346.25866793, 10841.05061462,
       29626.92872176, 11913.7058143 , 30923.47218471, 30944.89034422,
       29180.58740323, 10916.83147335, 10335.34371397, 12461.13766299,
        3972.31786033,  9092.98305627,  3605.29796975,  7665.64435095,
        4163.24871597, 13605.24355628,  3078.32544137,  2698.09269192,
        6737.47789098, 10699.71103854,  9756.58102367,  -141.09593058,
        5310.98168124, 12460.32323327, 35272.79403985,  8922.06605879,
        3848.36154874, 13163.69808068,  4278.3067072 , 10242.41334457,
       35533.85598166,  6877.71312014,  6862.80415366,  8262.85017612,
       39104.71301001, 34273.39185778,  8514.49009655, 35926.42441748,
       37116.06740853, 10631.82870208, 10324.98039855,  5895.46558729,
       27576.2600515 ,  9533.95275465,  4110.45481835,  7708.15827657,
        8675.64449103, 31103.62398285,  7761.90798164, 19435.5101797 ,
        5886.23986986,  8914.56404054, 11701.29853648,  6154.75656469,
       10583.86406973, 39443.39253602,  4987.14634074, 31013.38306958,
        6337.80001535,  8406.23753353, 27265.06660455, 36853.36861457,
        9698.37995521,  4971.59086252,  7564.49414238, 28446.46012571,
        7632.92113429,  3117.3784012 ,  1068.30988463,  4038.26570222])

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

39436401.2387279

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

35836632.06815464

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([27050.62538831])